<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".JokesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jokes_m_ic_launcher"
        android:label="@string/jokes_m_app_name"
        android:roundIcon="@mipmap/jokes_m_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/jokes_m_Theme.ComponentProject">
        <activity
            android:name=".JokesMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>